/*Declare Font Type*/
@font-face {
  font-family: "Tajawal Regular";
  src: url("../fonts/Tajawal-Regular.ttf");
}

@font-face {
  font-family: "Tajawal Medium";
  src: url("../font/Tajawal-Medium.ttf");
}

@font-face {
  font-family: "Tajawal Bold";
  src: url("../font/Tajawal-Bold.ttf");
}

@font-face {
  font-family: "Tajawal ExtraBold";
  src: url("../font/Tajawal-ExtraBold.ttf");
}

@font-face {
  font-family: "Tajawal Light";
  src: url("../font/Tajawal-Light.ttf");
}

@font-face {
  font-family: "Tajawal ExtraLight";
  src: url("../font/Tajawal-ExtraLight.ttf");
}

@font-face {
  font-family: "Tajawal Black";
  src: url("../font/Tajawal-Black.ttf");
}

/*My Container*/
#head .my-container {
  display: flex;
  gap: 50px;
}

#head .my-container > .box:nth-child(1) {
  flex: 25%;
}

#head .my-container > .box:nth-child(2) {
  flex: 75%;
}

#head .small-screen {
  display: none;
}

/*My Card - Personal Information (name, image, mobile, email, location)*/
#head h1 {
  margin-top: 50px;
}

#head .my-card {
  max-width: 10rem;
}

#head .my-card > img {
  border-radius: 50%;
}

#head .my-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#head .my-card-body .box.point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fd8028;
}

#head .my-card-body .box.icon i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#head .my-card-body .box.point:nth-child(1) {
  margin-top: 10px;
}

/*My Background (Exerience, Education)*/
#head .basic-info h3,
#head .basic-info .date-from-to {
  color: #fd8028;
  /* color: rgb(247, 111, 0); */
}

@media screen and (max-width: 768px) {
  #head h1 {
    text-align: center;
  }

  #head .big-screen {
    display: none;
  }

  #head .small-screen {
    display: block;
  }

  #head .my-card {
    margin: auto;
  }

  #head .basic-info {
    max-width: 75%;
    margin: auto;
  }
}

/*Accordion (Skills, Tools & Technology, etc)*/
#head .my-accordion {
  margin-bottom: 50px;
}

#head .my-accordion .accordion-header button {
  color: #fd8028;
}
